[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "main/themes/ananke"]
	path = main/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
