/* General Styles */
body {
    /*font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;*/
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 238, 210);
    color: rgb(0, 0, 0);
}

.container {
    margin-top: 25p x;
    margin-bottom: 25px;
    display: flex;
}

#left {
    flex-grow: 100;
    min-width: 1em;
    max-width: 4em;
}

#middle {
    max-width: 45em;
}

#right {
    min-width: 1em;
    flex-grow: 100;
}

/* Typography */
h1 {
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

a {
    color: rgb(191, 64, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Links Section */
.links {
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #2c3e50;
    padding-bottom: 10px;
}

.links a {
    margin-right: 20px;
}

.links a:first-child {
    margin-left: 0;
}

/* Blog List */
.blog-list {
    margin-top: 30px;
}

.blog-post {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(191, 64, 0);
}

.blog-post:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.blog-post .date {
    color: #666;
    margin-bottom: 3px;
}

.blog-post .title {
    margin-top: 0;
    margin-bottom: 3px;
    color: rgb(191, 64, 0);
}

.blog-post .content {
    font-size: 14px;
    margin-top: 0;
    color: #333;
    font-style: italic;
}

.blog-post .title a {
    color: inherit;
    text-decoration: none;
}

.blog-post .title a:hover {
    text-decoration: underline;
}